body {
	font-family: system-ui;
	font-size: 16px;
	max-width: 80ch;
	margin: auto;
	padding: 2ch;
	color: #222;
	background: #f1e7da;
}

a {
	color: rgb(152, 69, 119)
}

img {
	max-width: 100%
}

pre {
	overflow: auto
}

/* textarea {
	font-family: monospace;
	font-size: 16px;
	outline: none;
}

summary:focus,
textarea:focus {
	outline: none !important
} */

details {
	margin-bottom: 1em
}

/* For the header/nav/main framing */

body>nav ul {
	padding: 0;
	margin: 0 0 5px 0;
}

body>nav ul>li {
	list-style-type: none;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

/* Laptop-specific styling */
@media screen and (min-width: 800px) {
	/* side by side body{nav,main} */
	body {display: flex; gap: 1em}
	nav  {flex: 1; margin-top: 4em}
	main {flex: 6}

}

/* Mobile-specific styling */
@media screen and (max-width: 800px) {
	body>nav ul>li {
		display: inline-block; /* sideways nav */
	}
}
