/* Colour definitions (default: light) */
:root {
  --bg-color: #f1e7da;
  --text-color: #222;
  --link-color: rgb(152, 69, 119);
}

body {
	font-family: system-ui;
	font-size: 16px;
	max-width: 80ch;
	margin: auto;
	padding: 2ch;
	color: var(--text-color);
	background: var(--bg-color);
}

a {
	color: var(--link-color)
}

img {
	max-width: 100%
}

pre {
	overflow: auto
}

body>nav ul {
	padding: 0;
	list-style-type: none;
}

/* Laptop-specific styling */
@media screen and (min-width: 800px) {
	/* side by side body{nav,main} */
	body {display: flex; gap: 1em}
	nav  {flex: 1; margin-top: 4em}
	main {flex: 6}

	body>nav ul>li {
		margin-top: 0.5rem;
	}
}

/* Mobile-specific styling */
@media screen and (max-width: 800px) {
	body>nav ul>li {
		display: inline-block; /* sideways nav */
		margin-right: 0.5rem;
	}
}

@media (prefers-color-scheme: dark) {
	/* Colour definitions (dark) */
	:root {
		--bg-color: #02262c;
		--text-color: #beaf9c;
		--link-color: rgb(167, 86, 135);
	}
}
