<!DOCTYPE html>
<html lang=en>
<head>
    <title>{{.Title}}</title>
    <meta charset=utf-8>
    <!-- <meta name=author content="${if(author)}${author}${else}Anonymous${endif}" name=author> -->
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.svg"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
{{ if .Backlinks }}
<nav>
    <ul>
    {{ range .Backlinks }}
      <li><a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
    </ul>
</nav>
{{ end }}
<main>
    {{ .Content }}
</main>
</body>
</html>
