<!DOCTYPE html>
<html lang=en>
<head>
    <title>{{.Title}}</title>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f1e7da">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#02262c">
    <link rel="shortcut icon" href="/favicon.svg"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<iframe hidden name=htmz onload="setTimeout(()=>document.querySelector(contentWindow.location.hash||null)?.replaceWith(...contentDocument.body.childNodes))"></iframe>
<body>
<nav>
    {{ if .Backlinks }}
    <ul>
    {{ range .Backlinks }}
      <li><a href="{{ . }}">{{ . }}</a></li>
    {{ end }}
    </ul>
    {{ end }}
</nav>
<main id="content">
<a style="width: 2em; position: fixed; top: 20px; right: 20px;" href="/api/edit/{{.Name}}#content" accesskey="e" target=htmz><img src="https://openmoji.org/data/color/svg/270F.svg"/></a>
    {{ .Content }}
</main>
</body>
</html>
